// ==========================================================================
// BASE RULE
// ==========================================================================

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family--primary;
	font-weight: $font-weight--xs;
	font-size: $base-font;
	line-height: ($base-line/$base-font);
	color: color(black);  
}

h1,h2,h3,h4,h5,h6,p  {
	@extend %m-0;
}

p {
	font-size: em(18px);
	@extend %m-0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: color(black);
}

img {
	max-width: 100%;
	display: block;
}